<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Nos</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://nos.nl/video/462302-4g-vanaf-volgende-maand-in-amsterdam.html</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://nos.nl/video/.+</string>
				<string>http://nos.nl/op3/.+</string>
				<string>http://nos.nl/video-en-audio/.+</string>
				<string>http://nos.nl/koningshuis/.+</string>
				<string>http://nos.nl/uitzendingen/.+</string>
				<string>http://nieuwsuur.nl/video/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
